@charset "UTF-8";
/* ▼ Externos */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/* ▼ Misc */
/* ▼ Normalize */
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

/*colors*/
/*font-family*/
/* ▼ Animations */
/* contactos */
@keyframes slide_logo {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(calc(65vw - 100px)); }
  100% {
    transform: translateX(0vw); } }

/* videos textos */
@keyframes anim {
  from {
    width: 0; } }

/*videos fondo */
@keyframes fondoanim {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* ▼ Partials */
/* ▼ ESTILOS HEADER */
.header {
  background-color: #000405;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }
  .header__titulo {
    color: #aec3b0;
    font-size: 5em;
    font-family: "Varela Round", sans-serif;
    display: flex;
    align-items: center;
    background: linear-gradient(to top, #f1f2b5, #135058);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none; }
  .header__menu {
    list-style-type: none;
    text-decoration: none;
    color: #77a47b;
    background-color: #000405; }
  .header__nava {
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: flex-end;
    width: 100%; }
  .header__nav--li {
    padding: .45rem;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 1.7em; }
    .header__nav--li:hover {
      background: #01161e;
      border-radius: 5%; }

/* ▼ ESTILOS FOOTER */
footer {
  background-color: #01161e;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  color: #aec3b0;
  font-family: "Courier New", Courier, monospace; }
  footer > h4 {
    background-color: #77a47b;
    margin: 2px;
    padding: 10px; }

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 2%; }
  .icon__footer {
    display: flex;
    justify-content: center;
    padding-left: 0%; }
  .icon a {
    list-style-type: none;
    text-decoration: none;
    color: white; }
  .icon1 a:hover {
    color: #3b5998; }
  .icon2 a:hover {
    color: #d6249f; }
  .icon3 a:hover {
    color: red; }
  .icon4 a:hover {
    color: #f15722; }
  .icon5 a:hover {
    color: #1ed760; }

.icon__footer > icon > a --facebook {
  box-shadow: 0px 0px 10px #3b5998; }

.icon__footer > icon > a --instagram {
  box-shadow: 0px 0px 10px #d6249f; }

.icon__footer > icon > a --youtube {
  box-shadow: 0px 0px 10px red; }

.icon__footer > icon > a --icloud {
  box-shadow: 0px 0px 10px #f15722; }

.icon__footer > icon > a --spotify {
  box-shadow: 0px 0px 10px #1ed760; }

.footerTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-justify: auto;
  font-size: 2.3em; }
  .footerTexto__home {
    display: block;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.6em; }

.footerHome {
  background: rgba(251, 253, 250, 0.2);
  line-height: 3;
  padding: 0.5em 3em;
  margin: 1.5em;
  position: relative;
  text-decoration: none;
  list-style-type: none;
  color: #aec3b0; }
  .footerHome:hover {
    color: antiquewhite;
    font-size: 18px; }

/* ▼ Pages */
/* ▼ main home */
/* ESTILOS MAIN HOME*/
.main__principal, .click {
  background-color: #000405; }
  .main__principal--imagen {
    width: 100%; }
  .main__principal--imagen2 {
    width: 65%; }
  .main__principal--audio {
    display: block;
    position: fixed;
    bottom: 2%; }
  .main__principal--section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 2rem; }
  .main__principal--texto {
    display: inline-block;
    width: auto;
    padding: 1.5rem;
    font-style: italic;
    font-family: "Varela Round", sans-serif;
    color: #f1ede7;
    font-size: 2em; }
    .main__principal--texto .letraColor, .main__principal--texto .letraContacto, .main__principal--texto .letraContacto2 {
      color: #77a47b;
      font-size: 2.8em; }
    .main__principal--texto .lead {
      font-size: 2em; }
  .main__principal--audio {
    width: 295px;
    height: 54px; }

.transicion__texto {
  width: auto;
  font-size: 130%;
  transition: width 1s linear, heigth 1s ease-in-out; }
  .transicion__texto:hover {
    width: auto;
    background-color: #01161e;
    font-size: 130%; }

.video {
  background-image: url(../multimedios/back4.jpg);
  background-size: 100%;
  color: #77a47b;
  padding: 120px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }
  .videoiframe {
    left: 0;
    top: 0;
    position: sticky;
    margin: 20%; }

section > h3 {
  font-size: x-large; }

.article {
  padding: 5%;
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0; }
  .article__ul--li {
    display: inline;
    padding: 1.2rem; }

/* ▼ESTILOS PAGINA VIDEOS */
.main__principal--videos, .main__banda, .main__banda--texto, .letraColor, .letraContacto, .letraContacto2 {
  background-image: linear-gradient(146deg, #000405 0%, #000e0e 15%, #022d29 31%, #064558 64%, #01161e 100%);
  background-size: 500%;
  animation: fondoanim 10s infinite; }

.section-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  overflow: hidden;
  height: auto; }
  .section-article iframe {
    left: 0;
    top: 0;
    width: 100%; }

.letraColor__efecto, .letraContacto, .letraContacto2 {
  white-space: nowrap;
  overflow: hidden;
  width: 10em;
  animation: anim 4s infinite;
  font-size: 3em; }

/* ▼ESTILOS PAGINA BANDA */
.main__banda {
  font-style: italic;
  color: white;
  padding: 3%; }
  .main__banda--texto {
    color: #aec3b0;
    font-family: 'Montserrat', sans-serif;
    border: 5%;
    padding: 0.5rem;
    display: flex;
    justify-content: center; }
  .main__banda--li {
    list-style-type: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
    background-size: cover;
    margin-bottom: 3rem;
    padding-left: 0%; }
  .main__banda1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    position: relative; }
  .main__banda2 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    position: relative; }
  .main__banda3 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin-top: 1.5rem;
    position: relative; }
  .main__banda--titulos {
    position: absolute;
    align-self: flex-end;
    bottom: 0%;
    color: #aec3b0;
    width: 100%;
    margin: 0;
    padding: 2px;
    font-size: 1.5em; }
    .main__banda--titulos .p {
      margin-top: 0;
      margin-bottom: 0.2rem;
      font-size: 1.2em; }
  .main__banda--nueva {
    padding-bottom: 1.5rem; }

.banda {
  color: #01161e;
  text-shadow: #77a47b; }

.letraColor, .letraContacto, .letraContacto2 {
  color: #77a47b;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1.5rem;
  padding-top: 12px; }

.click {
  color: white;
  border: #77a47b;
  display: block;
  justify-content: center;
  font-size: 1.9em;
  font-family: "Courier New", Courier, monospace; }

.card-title {
  font-size: 2.5em;
  color: white;
  font-family: "Courier New", Courier, monospace; }

.card-text {
  font-size: 1.8em;
  color: white;
  font-family: "Courier New", Courier, monospace; }

/* ▼ESTILOS PAGINA GALERIA */
.main__galeria--texto {
  font-style: italic;
  font-family: 'Varela Round', sans-serif;
  color: #f1ede7;
  background-color: #000405;
  padding: 2%; }

.grid-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 400px;
  grid-gap: 10px;
  background-size: cover;
  justify-self: center;
  padding-bottom: 3%;
  margin-left: 10px;
  margin-right: 10px; }

.grid__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.grid-item1 {
  grid-column: 1 / 6; }

.grid-item2 {
  grid-column: 1 / 3;
  grid-row: 2 / 4; }

.grid-item3 {
  grid-column: 3 / 6; }

.grid-item4 {
  grid-column: 3 / 6; }

.grid-item5 {
  grid-column: 1 / 6;
  grid-row: 4 / 6; }

.grid-item6 {
  grid-column: 4 / 6; }

.grid-item7 {
  grid-column: 1 / 3;
  grid-row: 6 / 7; }

.grid-item8 {
  grid-column: 2 / 5;
  grid-row: 7 / 8; }

.grid-item9 {
  grid-column: 1 / 3;
  grid-row: 8 / 9; }

.grid-item10 {
  grid-column: 4 / 6;
  grid-row: 8 / 9; }

.accordion {
  width: 95%;
  padding-bottom: 2%;
  font-size: 1em; }
  .accordion-button:not(.collapsed) {
    color: inherit;
    color: #aec3b0;
    background-image: linear-gradient(146deg, #000405 0%, #000e0e 15%, #022d29 31%, #064558 64%, #01161e 100%);
    animation: fondoanim 10s infinite;
    font-size: 1em; }

.accordion-item:first-of-type .accordion-button {
  font-size: 1em; }

.accordion-item:last-of-type .accordion-button.collapsed {
  font-size: 1em; }

.accordion-body {
  font-size: 1.4em; }

/* ▼ESTILOS PAGINA CONTACTO */
.main__principal--titulo, .main__principal--letra {
  font-size: 25px;
  display: inline-block;
  left: 10%;
  color: #77a47b;
  padding-left: 5%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-family: 'Montserrat', sans-serif; }

.main__principal--contacto {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap; }
  .main__principal--contactoForm {
    display: block;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    margin: .5rem, .5rem; }

.main__principal--letra {
  color: #77a47b;
  padding: 2%; }

form {
  padding: 1.25rem;
  width: 500px; }

input, textarea {
  width: 100%;
  margin-bottom: 1.25rem;
  padding: .5rem;
  box-sizing: border-box;
  font-size: 1.7em;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px; }

.logoSmall {
  width: 5%;
  animation: slide_logo 4s ease infinite; }

.form-check-label {
  font-size: 1.5em; }

.letraContacto, .letraContacto2 {
  color: white;
  width: 20em; }
  .letraContacto1 {
    color: #77a47b;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #000405;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0; }
  .letraContacto2 {
    list-style-type: none;
    text-decoration: none;
    width: 25em; }

.form1 {
  width: 300px;
  height: 200px;
  content: 150px; }
  .form1__contacto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column; }

.form2 {
  display: block;
  align-items: center;
  width: 100px;
  background-color: #01161e;
  padding: 2px;
  border-radius: 5%;
  color: aliceblue;
  justify-content: center; }

.form3 {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.formButton {
  background-color: #01161e;
  color: aliceblue;
  padding: 1rem; }
  .formButton:hover {
    cursor: pointer; }

/* ▼ Partials estilos responsive */
/* ▼ RESPONSIVE @MEDIA QUERIES */
/* ▼tablet */
@media only screen and (min-width: 481px) and (max-width: 978px) {
  /* estilos nav header */
  .header__nav--li {
    font-size: 1em; }
  .headerMenu {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    height: 100%;
    margin: 0;
    flex-direction: column; }
  .header__menu {
    display: block;
    font-size: 1.1em;
    cursor: pointer; }
  #nav__button:checked ~ ul {
    height: 270px;
    transition: height 1s; }
  .navbar-toggler {
    font-size: 1.7em; }
  .navbar-toggler:hover {
    text-decoration: none;
    font-size: 1.8em;
    margin-left: 5rem;
    margin-right: 5rem; }
  /* index */
  .main__principal--section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%; }
  .main__principal--texto {
    display: block;
    block-size: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-style: italic;
    font-family: "Varela Round", sans-serif;
    color: #f1ede7;
    font-size: larger; }
  .main__principal--audio {
    display: flex;
    position: relative;
    width: 230px;
    height: 40px; }
  .video {
    padding: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .video > iframe {
      left: 0;
      top: 0;
      height: 80%;
      width: 80%;
      position: sticky; }
  .article {
    width: 80%; }
  /* galeria */
  .header {
    background-color: #000405;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: small; }
    .header__titulo {
      font-size: 3.8rem;
      background-clip: linear-gradient(to top, #f1f2b5, #135058);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
    grid-gap: 10px;
    background-size: cover;
    justify-self: center;
    padding-bottom: 3%;
    margin-left: 10px;
    margin-right: 10px; }
  .grid-item6 {
    grid-column: 3 / 6; }
  .grid-item8 {
    grid-column: 1 / 6;
    grid-row: 7 / 8; }
  .grid-item10 {
    grid-column: 3 / 6;
    grid-row: 8 / 9; }
  /* videos */
  .section__video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    padding: 1%;
    gap: 5%; }
  /* banda */
  .main__banda--li {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    background-size: cover;
    margin-bottom: 0%; }
  .main__banda3 {
    margin-top: 0; }
  .main__banda--titulos {
    position: absolute;
    bottom: 0%;
    width: 100%;
    margin: 0;
    padding: 10px; }
  .banda {
    color: #01161e;
    text-shadow: #77a47b; }
  /* contacto */
  .main__principal--titulo, .main__principal--letra {
    font-size: 2em;
    display: inline-block;
    left: 10%;
    color: #77a47b;
    padding-left: 5%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif; }
  .main__principal--contactoForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    flex-wrap: wrap; }
  .form1 {
    width: 400px;
    height: 150px;
    content: 150px; }
  .form3 {
    width: 350px; }
  form {
    width: 400px; }
  .letraContacto, .letraContacto2 {
    font-size: 2em; }
  /* footer */
  .iconify {
    width: 30px;
    height: 30px; }
  .footerTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .footerTexto__home {
      display: flex;
      justify-content: center;
      text-align: auto;
      font-size: small; } }

/* ▼mobile */
@media only screen and (max-width: 480px) {
  /* index */
  .header__menu {
    display: inline-flex;
    font-size: 0.8em;
    cursor: pointer;
    justify-content: center; }
  .navbar-toggler {
    display: flex;
    justify-content: center;
    font-size: 1.8em; }
  .navbar-toggler:hover {
    text-decoration: none;
    justify-content: center;
    font-size: 1.8em;
    margin-left: 5rem;
    margin-right: 5rem; }
  .header__nav--li {
    padding: 0.45rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    justify-content: center;
    display: flex; }
  .main__principal--section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 5%; }
  .main__principal--texto {
    display: block;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    padding: 2px;
    font-style: italic;
    font-family: "Varela Round", sans-serif;
    color: #dbdad7;
    font-size: larger; }
  .main__principal--audio {
    display: flex;
    position: relative;
    width: 180px;
    height: 30px; }
  .main__principal--imagen2 {
    width: 100%; }
  .transicion__texto {
    transition: width 1s linear, heigth 1s ease-in-out; }
    .transicion__texto:hover {
      background-color: #01161e;
      font-size: 75%; }
  .video {
    padding: 20px; }
    .video > iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: sticky; }
  .article {
    width: 80%; }
  /* galeria */
  .header {
    background-color: #000405;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    font-size: small; }
    .header__titulo {
      font-size: 3rem;
      background-clip: linear-gradient(to top, #f1f2b5, #135058);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .header__log {
      width: 129px;
      height: 87px; }
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 10px;
    background-size: cover;
    justify-self: center;
    margin-left: 10px;
    margin-right: 10px; }
  .grid-item1 {
    grid-column: 1 / 4; }
  .grid-item2 {
    grid-column: 1 / 4;
    grid-row: 2 / 4; }
  .grid-item3 {
    grid-column: 1 / 4; }
  .grid-item4 {
    grid-column: 1 / 4; }
  .grid-item5 {
    grid-column: 1 / 4;
    grid-row: 4 / 5; }
  .grid-item6 {
    grid-column: 1 / 4; }
  .grid-item7 {
    grid-column: 1 / 4;
    grid-row: 6 / 7; }
  .grid-item8 {
    grid-column: 1 / 4;
    grid-row: 7 / 8; }
  .grid-item9 {
    grid-column: 1 / 4;
    grid-row: 8 / 9; }
  .grid-item10 {
    grid-column: 1 / 4;
    grid-row: 8 / 9; }
  /* videos */
  .section__video {
    display: flex;
    flex-direction: column; }
  /* contacto */
  .main__principal--titulo, .main__principal--letra {
    font-size: 15px;
    display: inline-block;
    left: 10%;
    color: #77a47b;
    padding-left: 5%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif; }
  .main__principal--contactoForm {
    display: flex;
    flex-direction: column; }
  .logoSmall {
    width: 8%;
    animation: slide_logo 4s ease infinite; }
  form {
    width: 100%; }
  .letraContacto, .letraContacto2 {
    font-size: 1.5em; }
  /* ▼banda */
  .main__banda--li {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    background-size: cover;
    margin-bottom: 0%; }
  .main__banda3 {
    margin-top: 0; }
  .main__banda--titulos {
    position: absolute;
    bottom: 0%;
    width: 100%;
    margin: 0;
    padding: 10px; }
  .banda {
    color: #01161e;
    text-shadow: #77a47b; }
  /* footer */
  .iconify {
    width: 20px;
    height: 20px; }
  .footerTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .footerTexto__home {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em; }
  .footerHome {
    background: rgba(251, 253, 250, 0.2);
    line-height: 3;
    padding: 0.1em;
    margin: 0.04em;
    position: relative;
    text-decoration: none;
    list-style-type: none;
    color: #aec3b0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column; }
    .footerHome:hover {
      color: antiquewhite;
      font-size: 18px; } }
