/* ▼ ESTILOS FOOTER */

footer {
    background-color: $base;
    padding-top: 2%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-end;
    color: $secondary;
    font-family: $font-third;
    &>h4 {
    background-color: $primary;
    margin: 2px;
    padding: 10px;   
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 2%;
    &__footer {
        display: flex;
        justify-content: center;
        padding-left: 0%;
    }    
    & a {
        list-style-type: none;
        text-decoration: none;
        color: white;
    }    
    &1 a:hover {
        color: map-get($redes, facebook);
    }
    &2 a:hover {
        color: map-get($redes, instagram);
    }
    &3 a:hover {
        color: map-get($redes, youtube);
    }
    &4 a:hover {
        color: map-get($redes, icloud);
    }
    &5 a:hover {
        color: map-get($redes, spotify);
    }  
}   
@each $red, $color in $redes {
    .icon__footer>icon>a --#{$red}{
        box-shadow: 0px 0px 10px $color;
    }
}


.footerTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: auto;
    font-size: 2.3em;
    &__home {
        display: block; 
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.6em;
    }    
}

.footerHome {
    background:rgba(251, 253, 250, 0.2);
    line-height: 3;
    padding: 0.5em 3em;
    margin: 1.5em;
    position: relative;
    text-decoration: none;
    list-style-type: none;
    color: #aec3b0;
    &:hover {
        color: antiquewhite;
        font-size: 18px;
    }    
}
