/* ▼ ESTILOS HEADER */
.header {
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    &__titulo {
        color: $secondary;
        font-size: 5em;
        font-family: $font-principal; 
        display: flex; 
        align-items: center; 
        background: linear-gradient(to top, #f1f2b5, #135058);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: none;
    }
    &__menu {
        list-style-type: none;
        text-decoration: none;
        color: $primary;
        background-color: $background-color; 
    }    
    &__nav {
        &a{
        list-style-type: none;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        }    
        &--li {
        padding: .45rem;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        font-size: 1.7em;
            &:hover {
            background: $base;
            border-radius: 5%;
            }
        }
    }
}