/* ▼ main home */
/* ESTILOS MAIN HOME*/

.main__principal {
    background-color: $background-color;
    &--imagen{
        width: 100%;
    } 
    &--imagen2{
        width: 65%;
    }
    &--audio {
        display: block;
        position: fixed;
        bottom: 2%;
    }
    &--section {
        @include flex(row, center, center, 0);
        padding: 2rem;
    }
    &--texto {
        display: inline-block;
        width: auto;
        padding: 1.5rem;
        font-style: italic;
        font-family: $font-principal;
        color: rgb(241, 237, 231);
        font-size: 2em;
        & .letraColor {
            color: $primary;
            font-size: 2.8em;
        }
        & .lead {
            font-size: 2em;
        }
    }    
    &--audio {
        width: 295px;
        height: 54px
    }
}

.transicion__texto {
    width: auto;
    font-size: 130%;
    transition: width 1s linear, heigth 1s ease-in-out;
    &:hover {
        width: auto;
        background-color: $base;
        font-size: 130%;
    }
}

.video {
    background-image: url(../multimedios/back4.jpg);
    background-size: 100%;
    color: $primary;
    padding: 120px;
    margin: auto;
    @include flex(column, center, center, 0);
    &iframe {
        left:0;
        top:0;
        position: sticky;
        margin: 20%;
    }
}

section>h3 {
    font-size: x-large;
}
.article {
    padding: 5%;
    width: 60%;
    position: relative;
    @include flex(row, center, center, 0);
    &__ul--li {
        display: inline;
        padding: 1.2rem;
    }    
}
