/* ▼ESTILOS PAGINA VIDEOS */

.main__principal--videos {
    background-image: linear-gradient(146deg, #000405 0%, #000e0e 15%, #022d29 31%, #064558 64%, #01161e 100%);
    background-size: 500%;
    animation: fondoanim 10s infinite;
}
.section-article {
    @include flex(column, center, center, 0);
    overflow:hidden;
    height:auto;
    & iframe{
        left:0;
        top:0;
        width:100%;
    }    
}
.letraColor__efecto {
    white-space: nowrap;
    overflow: hidden;
    width: 10em;
    animation: anim 4s infinite;
    font-size: 3em;
}