
    /*colors*/
    $primary: #77a47b;
    $secondary: #aec3b0;
    $base: #01161e;
    $text-color: #f1ede7;
    $background-color: #000405;
    /*font-family*/
    $font-principal: 'Varela Round', sans-serif;
    $font-secondary: 'Montserrat', sans-serif; 
    $font-third: 'Courier New', Courier, monospace;
    
    $redes: ( /*Mapa */
        facebook: rgba(59, 89, 152, 1),
        instagram: #d6249f,
        youtube: rgba(255, 0, 0, 1),
        icloud: rgba(241, 87, 34, 1),
        spotify: rgba(30, 215, 96, 1),
    );

